<!-- tutorials
https://www.youtube.com/watch?v=Sy8dVjJqLHI&list=PLLxk3TkuAYnryu1lEcFaBr358IynT7l7H&index=8
https://hackernoon.com/django-authentication-login-logout-and-password-change-reset-a5f3d9313cd5 -->
{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div  class="card" style="top: 15vh;">
<div  class="card-body">
  {% if validlink %}
  <!-- text-center -->
<h4  class="card-title "> Reset Password</h4>


<form  method="post">
  {% csrf_token %}
  {{ form|crispy }}

  <button  type="submit"  class="btn btn-success btn-block">Change password </button>
</form>
{% else %}

<h4 class="card-title"> Invalid Token</h4>
<div class="alert alert-block alert-danger">
  <p> Token invalid or already used. Please try resetting your password.</p>
</div>
{% endif %}
</div>
</div>
{% endblock %}